:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-verde-duppla: #C5F5CA;
  --color-cimiento-duppla: #0A3323;
  --color-sombra-duppla: #EEEFF3;
  --color-fondo-gris: #F9F9F9;
  --azulDupplaOscuro: #5682F2;
  --azulDupplaClaro: #6C9FFF;
  --naranjaDuppla: #FE864B;
  --fondo1: #0B0B0D;
  --fondo2: #1E1E1E;
  --fondo3: #272727;
  --fondo4: #272727;
  --tipografiaPrincipal: #FFFFFF;
  --tipografiaSecundaria: #B8B8B8;
  --tipografiaDisabled: #B8B8B8;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}



@font-face{
  font-family: 'Rustica';
  src: url('../fonts/RusticaMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Rustica';
  src: url('../fonts/RusticaMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Rustica';
  src: url('../fonts/RusticaBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--fondo1) !important;
}

body {
  color: rgb(var(--fondo1));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--azulDupplaOscuro))) rgb(var(--azulDupplaClaro));
}

a {
  color: inherit;
  text-decoration: none;
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* sección navbar */

.colorBackgroundPrincipal {
  background-size: 100%;
  background-repeat: no-repeat;

  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom: 2px solid #7DA0FB;
  background: radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(165, 239, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%) !important;

  background-blend-mode: overlay, normal;
  backdrop-filter: blur(1.5rem) !important;

}

.img-home {
  width: 130px;
  height: 48px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.icon-setting-home {
  width: 48px;
  height: 48px;
  margin-top: 4px;
  margin-bottom: 2px;
}

.grafica-barcharts {
  width: 100% !important;
  height: 480px;
  /* background-color: #020101; */


}

.grafica-barcharts-des {
  width: 100% !important;
  height: 480px;
  /* background-color: #020101; */
}

.grafica-piecharts {
  width: auto !important;
  height: 380px;

}

.grafica-Linecharts {
  width: 100%;
  height: 340px;
  /* O el valor que desees para pantallas más grandes */
}
.grafica-linecharts-b {
  width: 100%;
  height: 420px;
  /* O el valor que desees para pantallas más grandes */
}

/* .miInput {
  color: #272727;
  background-color: #272727;
 
  border-radius: 12px;
} 

.miInput::placeholder {
  color: rgb(202, 21, 21) !important;
} */

/* Estilo para los elementos text dentro del gráfico */
.nivo-text {
  fill: #ffffff !important;
  /* Cambia el color del texto a blanco */
}

.ChartContainerSizeManager {
  width: 100% !important;
  height: 480px; 
}

/* Estilos titulos componentes Dy F main */
.title-D-F{
  font-family: 'Rustica', sans-serif !important;
  font-style: normal;
  color: #5682F2;
  font-weight: 500;
  font-size: 28px;  

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 300px) {

  /* clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 100%;
    height: 287px;
  }

  .size-card-main {
    width: 100% !important;
    height: 980px !important;
  }

  .size-card-main-d-f {
    width: 300 !important;
    height: 220px !important;
  }

/* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 980px !important;
  
  }
       /* Clase titulos sección */
       .title-component{
        font-family: 'Rustica', sans-serif;
        font-style: normal;
        color: #5682F2;
        font-weight: 500;  
        font-size: 38px;      
        margin-left: 8px !important;
  
      }
}

@media screen and (min-width: 375px) {

  /* clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 100% !important;
    height: 287px;
  }

  .size-card-main {
    width: 100% !important;
    height: 980px !important;
  }

  .size-card-main-d-f {
    width: 320 !important;
    height: 220px !important;
  }
/* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 980px !important;
  
  }
  .size-container-k1-k2{
    width: 100% !important;
    height: 980px !important;
  
  }
       /* Clase titulos sección */
       .title-component{
        font-family: 'Rustica', sans-serif;
        font-style: normal;
        color: #5682F2;
        font-weight: 500;
        font-size: 38px;  
        margin-left: 8px !important;
  
      }
}

@media screen and (min-width: 425px) {

  /* clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 100% !important;
    height: 287px;
  }

  .size-card-main {
    width: 100% !important;
    height: 980px !important;
  }

  .size-card-main-d-f {
    width: 350 !important;
    height: 220px !important;
  }
  /* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 980px !important;
  
  }
  .size-container-k1-k2{
    width: 100% !important;
    height: 980px !important;
  
  }

       /* Clase titulos sección */
       .title-component{
        font-family: 'Rustica', sans-serif;
        font-style: normal;
        color: #5682F2;
        font-weight: 500;
        font-size: 38px;  
        margin-left: 8px !important;
  
      }
}

@media screen and (min-width: 768px) {

  /* clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 492px !important;
    height: 287px;
  }
  
  .div-center-pie {
    position: absolute;
    top: 47%;
    margin-left: 2% ;
    translate: translate(-50%, -50%);
    z-index: 1;
  }

  .size-card-main {
    width: 100% !important;
    height: 980px !important;
  }

  .size-card-main-d-f {
    width: 360 !important;
    height: 220px !important;
  }

  /* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 980px !important;
  
  }
  .size-container-k1-k2{
    width: 100% !important;
    height: 980px !important;
  
  }
       /* Clase titulos sección */
       .title-component{
        font-family: 'Rustica', sans-serif;
        font-style: normal;
        color: #5682F2;
        font-weight: 500;
        font-size: 38px;  
        margin-left: 16px !important;
  
      }
}

@media screen and (min-width: 1000px) {

  /* Clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 492px !important;
    height: 287px;
  }

  .div-center-pie {
    position: absolute;
    top: 46%;
    margin-left: -2% !important;
    translate: translate(-50%, -50%);
    z-index: 1;
  }


  .div-center-pie-h1 {
    position: absolute;
    top: 46%;
    margin-left: -2% !important;
    translate: translate(-50%, -50%);
    z-index: 1;
  }

  /* Ajustes sesión main */
  .size-card-main {
    width: 100% !important;
    height: 300px !important;

  }

  .size-card-main-d-f {
    width: 360px !important;
    height: 200px !important;
  }
  /* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 480px !important;
  
  }
  .size-container-k1-k2{
    width: 100% !important;
    height: 480px !important;  
  }
     /* Clase titulos sección */
     .title-component{
      font-family: 'Rustica', sans-serif;
      font-style: normal;
      color: #5682F2;
      font-weight: 500;
      font-size: 38px;  
      margin-left: 22px !important;
    }

}

@media screen and (min-width: 1200px) {

  /* Clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 492px !important;
    height: 287px;
  }
  .div-center-pie {
    position: absolute;
    top: 47%;
    margin-left: 31%;
    translate: translate(-50%, -50%);
    z-index: 1;
  }
  .div-center-pie-h1 {
    position: absolute;
    top: 47%;
    margin-left: 32% !important;
    translate: translate(-50%, -50%);
    z-index: 1;
  }

  /* Ajustes sesión main */
  .size-card-main {
    width: 100% !important;
    height: 280px !important;
  }

  .size-card-main-d-f {
    width: 440 !important;
    height: 200px !important;
  }
  /* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 480px !important;
  
  }
  .size-container-k1-k2{
    width: 100% !important;
    height: 480px !important;
  
  }

     /* Clase titulos sección */
     .title-component{
      font-family: 'Rustica', sans-serif;
      font-style: normal;
      color: #5682F2;
      font-weight: 500;
      font-size: 38px;  
      margin-left: 30px !important;

    }
}

@media screen and (min-width: 1600px) {

  /* Clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 492px !important;
    height: 287px;
  }

  .div-center-pie {
    position: absolute;
    top: 47%;
    margin-left: 0% !important;
    translate: translate(-50%, -50%);
    z-index: 1;
  }

  .div-center-pie-h1 {
    position: absolute;
    top: 47%;
    margin-left: 34% !important;
    translate: translate(-50%, -50%);
    z-index: 1;
  }

  .icon-setting-navbar {
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 700px !important;
  }

  /* Ajustes sesión main */
  /* Ajustes sesión main */
  .size-card-main {
    width: 100% !important;
    height: 300px !important;

  }

  .size-card-main-d-f {
    width: 440 !important;
    height: 220px !important;
  }

  /* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 480px !important;
  
  }
  .size-container-k1-k2{
    width: 100% !important;
    height: 480px !important;
  
  }

    /* Clase titulos sección */
    .title-component{
      font-family: 'Rustica', sans-serif;
      font-style: normal;
      color: #5682F2;
      font-weight: 500;
      font-size: 38px;  
      margin-left: 205px !important;

    }
}

@media screen and (min-width: 2200px) {

  /* Clases login */
  .img-login-logo {
    margin-top: 6.25rem;
    width: 492px !important;
    height: 287px;
  }

  .icon-setting-navbar {
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 1100px !important;
  }

  /* Ajustes sesión main */
  .size-card-main {
    width: 100% !important;
    height: 300px !important;
  }

  .size-card-main-d-f {
    width: 440 !important;
    height: 220px !important;
  }

  /* Responsive inmueble */
  .size-container-h1-h2{
    width: 100% !important;
    height: 480px !important;
  
  }

    /* Responsive inmueble */
    .size-container-k1-k2{
      width: 100% !important;
      height: 480px !important;
    
    }

    /* Clase titulos sección */
    .title-component{
      font-family: 'Rustica', sans-serif;
      font-style: normal;
      color: #5682F2;
      font-weight: 500;
      font-size: 38px;  
      margin-left: 382px !important;

    }

}