/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&display=swap');

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-1: #111827;
    
    --background-2: #1F2937;
    
    --blue-dark: #4299E1;
    
    --text-base: #F3F4F6;
   
    --text-secondary: #9CA3AF;
    
  }
} */
@font-face {
  font-family: 'RusticaMedium';
  src: url('./../assets/fonts/RusticaMedium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RusticaLight';
  src: url('./../assets/fonts/RusticaLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;

}


body {
  color: var(--text-base);
  background: linear-gradient(to bottom,
      transparent,
      var(--background-1)) var(--background-1);
}

ul {
  list-style-type: disc;
  /* Viñeta redonda */
}

.mukta-extralight {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-light {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-regular {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-medium {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-semibold {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-bold {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-extrabold {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.noto-emoji {
  font-family: 'Noto Emoji', sans-serif;
}

.rustica {
  font-family: 'RusticaLight', sans-serif;
  /*  font-weight: 500;  */
}

.rustica-bold {
  font-family: 'RusticaMedium', sans-serif;
  /*  font-weight: 500;  */
}

/* Para WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  background-color: #3182ce;
  /* Color azul claro */
}

/* Para Mozilla (Firefox) */
input[type="range"]::-moz-range-thumb {
  background-color: #3182ce;
  /* Color azul claro */
}

/* CheckboxFormComponent.css */
.checked-container {

  border: 0.5px solid var(--indigo-200, #C7D2FE);
  background: var(--indigo-50, #EEF2FF);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-container {
  background: linear-gradient(180deg, #FFF 0%, #D4E0FF 100%) !important;
  height: 100vh !important;
  overflow-x: hidden;
  overflow-y: hidden;
}